﻿@{
    ViewData["Title"] = "Calculator";
}

<div class="form-group">
    <label for="calculator-input">Input</label>
    <input type="text" id="calculator-input" class="form-control" />
</div>

<div class="form-group">
    <div class="row">
        <div class="btn-group col">
            <button class="calc-btn btn btn-secondary" data-value="7">7</button>
            <button class="calc-btn btn btn-secondary" data-value="8">8</button>
            <button class="calc-btn btn btn-secondary" data-value="9">9</button>
            <button class="calc-btn btn btn-secondary" data-value="/">/</button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group col">
            <button class="calc-btn btn btn-secondary" data-value="4">4</button>
            <button class="calc-btn btn btn-secondary" data-value="5">5</button>
            <button class="calc-btn btn btn-secondary" data-value="6">6</button>
            <button class="calc-btn btn btn-secondary" data-value="X">X</button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group col">
            <button class="calc-btn btn btn-secondary" data-value="1">1</button>
            <button class="calc-btn btn btn-secondary" data-value="2">2</button>
            <button class="calc-btn btn btn-secondary" data-value="3">3</button>
            <button class="calc-btn btn btn-secondary" data-value="-">-</button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group col">
            <button class="calc-btn btn btn-secondary" data-value=".">.</button>
            <button class="calc-btn btn btn-secondary" data-value="0" style="width: 50%">0</button>
            <button class="calc-btn btn btn-secondary" data-value="+">+</button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group col">
            <button class="btn btn-primary" onclick="calculate()">=</button>
        </div>
    </div>
</div>

<div id="calc-output-wrapper" class="form-control hidden">
    <p>Output: <span id="calc-output"></span></p>
</div>